.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: "100%";
  min-height: 100vh;
  overflow: hidden;
}
*{
  user-select: none;
}
::-webkit-scrollbar {
  width: 5px; /* Độ rộng của thanh trượt */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu sắc của thanh trượt */
  border-radius: 0px; /* Bo góc của thanh trượt */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu sắc của nền thanh trượt */
}
a{
  text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
